Repository cvscarlos/Vtex-Facebook-Pixel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(): Lint rules
  .eslintrc
  .prettierrc
  .prettierrc.json
  .yarnrc.yml
  dangerfile.cjs
  node/__tests__/simple.test.ts
  node/clients/index.ts
  node/clients/status.ts
  node/index.ts
  node/middlewares/status.ts
  node/middlewares/validate.ts
  node/package.json
  node/tsconfig.json
  package.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(): add support for Pixel
  .eslintrc
  manifest.json
  node/index.ts
  package.json
  pixel/head.html
  react/index.tsx
  react/package.json
  react/tsconfig.json
  react/tslint.json
  react/typings/events.d.ts
  react/typings/global.d.ts
  react/typings/vtex.render-runtime.d.ts
  react/yarn.lock
  store/interfaces.json
  store/plugins.json
  yarn.lock
Due: eslint --fix, prettier --write

feat(): release version 1.0.0
  .editorconfig
  .eslintrc
  .vtexignore
  CHANGELOG.md
  docs/README.md
  manifest.json
  node/__tests__/fixtures/order-placed.json
  node/clients/facebook-graph.ts
  node/clients/index.ts
  node/clients/status.ts
  node/index.ts
  node/middlewares/pixel-conversion.ts
  node/middlewares/status.ts
  node/middlewares/validate.ts
  node/package.json
  node/service.json
  node/tsconfig.json
  node/utils/get-app-id.ts
  node/yarn.lock
  package.json
  pixel/head.html
  react/index.tsx
  react/tsconfig.json
  react/typings/global.d.ts
  react/typings/vtex.render-runtime.d.ts
  types/events.type.ts
Due: eslint --fix, prettier --write

docs(): Readme and License
  LICENSE
  docs/README.md
Due: none

clean files
  .github/workflows/danger.yml
  .gitignore
  .nvmrc
  dangerfile.cjs
  node/package.json
  node/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

general
  .gitignore
  .husky/pre-commit
  jest.config.cjs
  node/package.json
  node/yarn.lock
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

add tests: facebook-graph
  node/clients/facebook-graph.test.ts
  node/clients/facebook-graph.ts
Due: eslint --fix, prettier --write

dependencies version
  package.json
  yarn.lock
Due: prettier --write

clean up files
  node/__tests__/simple.test.ts
  tests/fixtures/order-placed.json
Due: eslint --fix, prettier --write

chore(): fix types and update docs
  .yarnrc
  docs/README.md
  node/middlewares/pixel-conversion.ts
  node/package.json
  node/typings/events.type.ts
  node/yarn.lock
  react/index.tsx
  react/typings/events.type.ts
  tests/fixtures/order-placed.json
  types/events.type.ts
Due: eslint --fix, prettier --write

Release v1.0.1
  manifest.json
Due: prettier --write

github workflow
  .github/workflows/pull-request.yml
Due: none

feat(): version 1.0.1 (#1)
  .github/workflows/danger.yml
  .github/workflows/pull-request.yml
  .gitignore
  .husky/pre-commit
  .nvmrc
  .yarnrc
  dangerfile.cjs
  docs/README.md
  jest.config.cjs
  manifest.json
  node/__tests__/simple.test.ts
  node/clients/facebook-graph.test.ts
  node/clients/facebook-graph.ts
  node/middlewares/pixel-conversion.ts
  node/package.json
  node/typings/events.type.ts
  node/yarn.lock
  package.json
  react/index.tsx
  react/typings/events.type.ts
  tests/fixtures/order-placed.json
  tsconfig.json
  types/events.type.ts
  yarn.lock
Due: eslint --fix, prettier --write

fix(): yarn install
  .husky/pre-commit
  .yarnrc
  .yarnrc.yml
  docs/README.md
  manifest.json
  package.json
Due: prettier --write

docs(): update readme indentation
  docs/README.md
Due: none

CategoryView
  docs/README.md
  package.json
  react/index.tsx
  react/tsconfig.json
  react/typings/events.type.ts
  tsconfig.json
  types/events.type.ts
Due: eslint --fix, prettier --write

add CategoryView event
  docs/README.md
  node/yarn.lock
  pixel/head.html
  react/index.tsx
  react/typings/events.type.ts
  react/typings/global.d.ts
  types/events.type.ts
Due: eslint --fix, prettier --write

feat(): add `CategoryView` event
  docs/README.md
  manifest.json
  node/yarn.lock
  package.json
  pixel/head.html
  react/index.tsx
  react/tsconfig.json
  react/typings/events.type.ts
  react/typings/global.d.ts
  tsconfig.json
  types/events.type.ts
Due: eslint --fix, prettier --write

feat(): add `Search` event
  .eslintrc
  docs/README.md
  manifest.json
  package.json
  react/index.tsx
  types/events.type.ts
Due: eslint --fix, prettier --write

dev
  node/package.json
  node/tsconfig.json
  node/yarn.lock
  package.json
  react/index.ts
  react/package.json
  react/tsconfig.json
  react/yarn.lock
  yarn.lock
Due: eslint --fix, prettier --write

feat(): double trigger for `Purchase` event
  .eslintrc
  .vtexignore
  manifest.json
  node/package.json
  node/tsconfig.json
  node/yarn.lock
  package.json
  pixel/head.html
  react/index.tsx
  react/package.json
  react/tsconfig.json
  react/tslint.json
  react/typings/global.d.ts
  react/yarn.lock
  yarn.lock
Due: eslint --fix, prettier --write

chore(): remove deprecated configuration files and update README for clarity
  .prettierignore
  .prettierrc.json
  .prettierrc.yml
  docs/README.md
  manifest.json
  node/.yarnrc.yml
  node/yarn.lock
  package-lock.json
  package.json
  react/yarn.lock
  yarn.lock
Due: prettier --write

Release v1.2.1
  manifest.json
Due: prettier --write

chore: update `vtex.node`
  manifest.json
  node/package.json
  node/yarn.lock
Due: prettier --write

Release v2.0.0
  manifest.json
Due: prettier --write

docs: update installation instructions for Facebook Pixel to reflect new vendor name
  docs/README.md
Due: none

Release v2.0.1
  manifest.json
Due: prettier --write

chore: refactor code formatting and update linting scripts
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.yml
  docs/README.md
  jest.config.cjs
  node/clients/facebook-graph.test.ts
  node/clients/facebook-graph.ts
  node/clients/index.ts
  node/index.ts
  node/middlewares/pixel-conversion.ts
  node/service.json
  node/tsconfig.json
  node/utils/get-app-id.ts
  package.json
  pixel/head.html
  react/index.tsx
  react/tsconfig.json
  react/typings/global.d.ts
  store/interfaces.json
  store/plugins.json
  tests/fixtures/order-placed.json
  types/events.type.ts
Due: eslint --fix, prettier --write

Release v2.0.2
  manifest.json
Due: prettier --write

chore: dispara evento `pageView` usando o evento Vtex
  pixel/head.html
  react/index.tsx
  types/events.type.ts
Due: eslint --fix, prettier --write

Release v2.0.3
  manifest.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js,tsx,jsx}
  prettier --write: (any of: *.{ts,js,tsx,jsx}) or (any of: *.{json,graphql,gql})
